h1, h2, h3 {
    font-family: $font__secondary;
	clear: both;
}

h4, h5, h6 {
    font-family: $font__main;
    clear: both;
}


h1 {
    @include font-size(2);
    line-height: 1.25em;
    @include media('>=tablet'){
        @include font-size(2.5);
    }
}

h2 {
    @include font-size(1.75);
    line-height: 1.1;
}

h3 {
    @include font-size(1.5);
    line-height: 1.2;
}

h1, h2 {
    &.section-title,
    &.widget-title,
    &.widgettitle {
        @include font-size(1.4);
        @include after-line(50px, $color__neutral-dark);
        margin-top: 0;
        padding-top: 0;
    }
}

