$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #B30016;
$color__link-visited: darken($color__link, 15%);
$color__link-hover: lighten($color__link, 5%);
$color__text-main: #404040;

$color__border-input: #ccc;
$color__border-abbr: #666;

$color__primary-accent: #404040;

$color__background-neutral: #EDEDED;
$color__neutral-dark: #c7c7c7;