/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
@import "links";

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
@import "menus";

/*--------------------------------------------------------------
## Other
--------------------------------------------------------------*/

.nav-aside {
    width: 100%;
    .widget {
        margin-bottom: 1em;
        padding: 12px 5% 0 5%;
        border-top: 1px solid darken($color__background-neutral, 15%);
        @include media('>=tablet'){
            border-top: 0;
            margin-bottom: 0;
            padding: 0;
        }
    }
    @include media('>=tablet'){
        margin-top: 10px;
        float: right;
        width: auto;
    }
}

